/*================
Base Resets
==================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*================
Fonts
==================*/
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.6;
}

/*================
Typography
==================*/

h1,
h2,
h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    margin-top: 0;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h3, a {
    color: #1792d2;
}

a:hover,
a:focus {
    color: #143774;
}

/*================
Layout
==================*/